<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <h4><b>Proyectos</b></h4>      
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="#">
            <div class="container-fluid  row">
                <app-proyecto-uno></app-proyecto-uno>
                <app-proyecto-dos></app-proyecto-dos>
            </div>     
        </div>        
      </div>
    </div>