.navbarHeader {
    /* border-radius: 20px; */
    background-color: #000000;
}

img {
    padding: 0;
    margin: 0;
    width: 10%;
    height: 10%;
}

.navbar-brand {
    color: white;
    padding-left: 11px;
    font-size: 20px;
}

li {
    padding-top: 10px;
    margin-right: 5px;
    list-style: none;
}

.login{
    padding-top: 8px;
    padding-bottom: 7px;
}

#loginButton {
    width: 37px;
}

