<div class="nombrePerfil">
    <h2 id="editNombre"><b>Juan José Nuñez Pacheco</b></h2>
    <p class="">Visualizador en Centro de Monitoreo Tafi Viejo</p>
    <p class="">
      Tucumán (Argentina) <a href="#!">Información de contacto</a>
    </p>
  </div>
  <nav>
    <ul class="d-flex botonPerfil">
      <li>
        <button type="button" class="btn btn-sm btn-primary botonBgColor">
          Tengo interés en
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-sm btn-primary botonBgColor">
          Añadir sección
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-sm btn-primary botonBgColor">
          Más
        </button>
      </li>
    </ul>
  </nav>